<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading/54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{726,38}</string>
                <key>spriteSourceSize</key>
                <string>{726,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{726,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading/54_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{722,30}</string>
                <key>spriteSourceSize</key>
                <string>{726,38}</string>
                <key>textureRect</key>
                <string>{{1,41},{722,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading/54_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{722,30}</string>
                <key>spriteSourceSize</key>
                <string>{726,38}</string>
                <key>textureRect</key>
                <string>{{1,41},{722,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading.1.png</string>
            <key>size</key>
            <string>{728,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:338a995abf59db7211f83069f7b94482:95bc36b897efc86eb2df2186fb64e9b9:fcb1cbd6bf9faad4fb03bf3c4768cd9d$</string>
            <key>textureFileName</key>
            <string>loading.1.png</string>
        </dict>
    </dict>
</plist>
